<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header('Delivery Task')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar" />
<div class="container">
    <main>
        <h3>Delivery Assistance Form</h3>
        <div class="deliveryForm">
            <form th:action="@{/create/delivery}" th:method="post" th:object="${post}">
                <p>
                    <label for="dates">
                        <span  class="grey-text text-darken-2 deliveryForm">On what day do you need something delivered?</span>
                    </label>
                    <input type="text" class="datepicker" id="dates" name="dates"/>
                </p>
                <p>
                    <label for="loc">
                    <span  class="grey-text text-darken-2 deliveryForm">Where is the delivery from?</span>
                    <input id="loc" type="text" th:field="*{location}"/>
                    </label>
                </p>
                <p>
                    <label for="time">
                        <span  class="grey-text text-darken-2 deliveryForm">What time do you need this delivery?</span>
                        <input type="text" class="timepicker" name="time" id="time"/>
                    </label>
                </p>
                <p>
                    <label for="body">
                        <span class="grey-text text-darken-2 deliveryForm">Name for the order and/or any extra information that would be needed?</span>
                        <input id="body" type="text" th:field="*{body}" />
                    </label>
                </p>
                <p>
                    <label for="recurringDelivery">
                        <span class="grey-text text-darken-2 deliveryForm">Is this a recurring delivery?</span>
                        <input id="recurringDelivery" type="checkbox" />
                        <span class="grey-text text-darken-2 deliveryForm">Yes</span>
                    </label>
                </p>
                <div id="isRecurring" class="hiddenForm input-field">
                    <select id="recurrence" name="recurrence">
                        <option th:value="${null}">Select</option>
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                    <label for="recurrence">
                        <span class="grey-text text-darken-2 deliveryForm">How often?</span>
                    </label>
                </div>
                <div id="end" class="hiddenForm">
                    <label for="endDate">
                        <span class="grey-text text-darken-2 deliveryForm">What is the last day for this to recur?</span>
                    <input type="text" class="datepicker" name="endDate" id="endDate"/>
                    </label>
                </div>
                <button class="btn">Submit</button>
            </form>
        </div>
    </main>
</div>
<footer th:replace="fragments/footer"></footer>
<th:block th:replace="fragments/scripts"/>

<script>
    $(document).ready(function(){
        $('select').formSelect();
        $("#recurringDelivery").on("click", function(){
            $("#isRecurring").toggleClass("hiddenForm");
            $("#end").toggleClass("hiddenForm");
            $('.datepicker').datepicker();

            $('.timepicker').timepicker();
        })
    });

    $(document).ready(function(){

    });
</script>
</body>
</html>