<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header ('Edit Post')"/>
</head>
<body>
 <th:block th:replace="fragments/navbar"/>
 <div class="taskForm">
     <form th:action="@{/posts/edit}" th:method="post">
         What task do you need accomplished?
         <input name="editTitle" th:value="${post.title}"/><br/>
         WHERE
         <input name="editLocation" type="text" th:value="${post.location}"/><br/>
         What time do you need this help?
         <input type="time" id="time" name="editTime" th:value="${time}"/> <br/>
         What day do you need this help?
         <input type="date" id="dates" name="editDate" th:value="${date}"/> <br/>
         Are there any outside resources needed to accomplish this task? (tools, ladder, etc)
         <input type="text" id="extra" name="editBody" th:value="${post.body}"/><br/>
         <input type="hidden" id="editCat" name="editCat" th:value="${post.category}" />
         <input type="hidden" id="editId" name="editId" th:value="${post.id}" />
         <button class="btn">Submit</button>
     </form>
 </div>
</body>
</html>