<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header('mypost')"/>
</head>
<body>
<th:block th:replace="fragments/navbar"/>
<br/>
<div class="container">
    <h1 th:text="${post.Title}"></h1>
    <br/>
    <p th:text="${post.body}">
    </p>
    <form th:action="@{'/posts/' + ${post.id} + '/eidt'}" method="post">

        <input type="submit" value="Edit" class="btn btn-large"/>

    </form>
    <form th:action="@{'/posts/' + ${post.id} + '/delete'}" th:method="POST" th:object="${post}">

        <input type="submit" value="Delete" class="btn btn-large"/>
    </form>
</div>

<footer th:replace="fragments/footer"></footer>
<th:block th:replace="fragments/scripts"/>
</body>
</html>