<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header('Task Form')" />
    <link rel="stylesheet" href="../../static/css/main.css"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar" />
<main class="container">
    <h2 class="center-align">What do you need help with?</h2>
    <div class="row">
    <form class="col m6 s12 center-align" th:action="@{/create/delivery}" method="get">
        <input type="submit" value="I need something delivered" class="btn btn-large"/>
    </form>
    <form class="col m6 s12 center-align" th:action="@{/create/assistance}" method="get">
        <input type="submit" value="I need help around my house" class="btn btn-large"/>
    </form>
    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>