<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header('Assistance Task')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar" />
<div class="container">
<main>
    <h1>Residence Assistance Form</h1>

    <div class="taskForm">

        <form th:action="@{/create/assistance}" th:method="post" th:object="${post}">
            <p>
                <label>
                    <span class="grey-text text-darken-2 deliveryForm">What task do you need accomplished?</span>
                    <input th:field="*{title}"/>

                </label>
            </p>
            <p>
                <label>
                    <span class="grey-text text-darken-2 deliveryForm">How long will this task take to accomplish?</span>
                    <input type="text" id="timeForTask" name="timeForTask"/>
                </label>
            </p>
            <p>
                <label>
                    <span class="grey-text text-darken-2 deliveryForm"> How many people are needed to complete this task?</span>
                    <input type="text" id="numberOfWorkers" name="numberOfWorkers"/>
                </label>
            </p>

            <div id="notAtLocation" class="hiddenForm">
                <label >
                    <span class="grey-text text-darken-2 deliveryForm">If not, where do you need help?</span>
                    <input th:field="*{location}"/> <br/>
                </label>

            </div>

            <p>
                <label for="helpTime">
                    <span class="grey-text text-darken-2 deliveryForm">What time do you need this help?</span>
                    <input type="text" class="timepicker" name="time" id="helpTime"/>
                </label>
            </p>
            <p>
                <label for="helpdates">
                    <span class="grey-text text-darken-2 deliveryForm">What day do you need this help?</span>
                    <input type="text" class="datepicker" name="dates" id="helpdates"/>
                </label>
            </p>

            <p>
                <label>
                    <span class="grey-text text-darken-2 deliveryForm">Are there any outside resources needed to accomplish this task? (tools, ladder, etc) </span>
                    <input type="text" id="extra" name="extra"/>
                </label>
            </p>

            <button class="btn">Submit</button>
        </form>
    </div>
</main>
</div>
<footer th:replace="fragments/footer"></footer>
<th:block th:replace="fragments/scripts"/>
<script>

    $(document).ready(function(){
        $("#locationCheck").on("click", function(){
            $("#notAtLocation").toggleClass("hiddenForm");
        });
    });
    $(document).ready(function(){
        $('.datepicker').datepicker();
    });

    $(document).ready(function(){
        $('.timepicker').timepicker();
    });
</script>
</body>
</html>