<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<footer class="page-footer grey lighten-4" th:fragment="footer">
        <div class="container">
            <div class="row footer">
                <div class="col l6 s12">
                    <h5 class="grey-text text-darken-3">Follow Us</h5>
                    <div class="icon">
                        <i class="fa fa-linkedin square light-blue darken-4 fa-2x"></i><i class="fa fa-github square  black fa-2x" ></i>
                    </div>

                    <div class="icon">

                    </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="grey-text text-darken-3">Links</h5>
                    <ul>
                        <li><a class="grey-text text-darken-3" href="#!">Home</a></li>
                        <li><a class="grey-text text-darken-3" href="#!">About Us</a></li>
                        <li><a class="grey-text text-darken-3" href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright cyan darken-4">
            <div class="container ">
            </div>
        </div>
    </footer>



</body>
</html>