<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->


<footer class="page-footer grey lighten-4" th:fragment="footer">
        <div class="container">
            <div class="row footer">
                <div class="col l6 s12">
                    <h5 class="grey-text text-darken-3">Links</h5>
                    <ul>
                        <li><a class="grey-text text-darken-3" href="#!">Home</a></li>
                        <li><a class="grey-text text-darken-3" href="#!">About Us</a></li>
                        <li><a class="grey-text text-darken-3" href="#!">Contact</a></li>
                    </ul>

                </div>
                <div class="col l4 offset-l2 s12">

                </div>
            </div>
        </div>
        <div class="footer-copyright cyan darken-4">
            <div class="container">
                © 2019 Copyright
            </div>
        </div>
</footer>



<!--</body>-->
<!--</html>-->