<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
<nav class="navbar" th:fragment="navbar">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Silver Lining</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/}">Create</a></li>
            <li><a sec:authorize="!isAuthenticated()" th:href="@{/}">Sign Up</a></li>
            <li><a sec:authorize="!isAuthenticated()" th:href="@{/}" >Login</a></li>
            <li>
                <form  sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>