<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>
<nav class="navbar" th:fragment="navbar">
    <div class="nav-wrapper white">
        <a th:href="@{/}" class="brand-logo center teal-text text-darken-1">Silver Lining</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
<!--            <li><a th:href="@{/}">Home</a></li>-->
            <li><a sec:authorize="isAuthenticated()" th:href="@{/profile}" class="teal-text text-darken-1">My Profile</a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/create}" class="teal-text text-darken-1">Create</a></li>
            <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="teal-text text-darken-1" >SignIn</a></li>
            <li><a sec:authorize="!isAuthenticated()" th:href="@{/signup}" class="waves-effect waves-light btn teal darken-1" id="signup">SignUp</a></li>

            <li>
                <form  sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>