
<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="fragments/header :: header ('Profile')"/>

</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>
<div class="container">
    <div class="card">
        <div class="card-content">
            <img id="person" th:src="${user.photo}"/>
            <div class="center-align">
                <h3><span th:text="${user.username}"></span></h3>
                <h6><span style="color:darkgrey" th:text="${user.email}"></span></h6>
                <br/>
                <th:block th:if="${userSesh.id == user.id}">
                    <form th:action="@{'/profile/' + ${user.id} + '/edit'}" th:method="GET" th:object="${user}">
                        <input style="float: right" type="submit" value="Edit" class="btn btn-medium"/>
                    </form>
                </th:block>
                <br/>
            </div>
        </div>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab teal darken-1"><a href="#recent">Recent Review</a></li>
                <li class="tab teal darken-1"><a href="#tasks">Accepted Tasks</a></li>
            </ul>
        </div>
            <div class="active" id="recent">
                <div class="card row" th:each="review : ${reviews}">
                    <div class="col s2 m2">
                        <img style="display:block;margin:auto" th:src="${review.reviewer.getPhoto()}" alt="" />
                        <p style="margin:auto;text-align: center    " th:text="${review.reviewer.username}"></p>
                    </div>
                    <div style="border-left:1px solid grey" class="col s10 m10">
                        <th:block th:if="${review.rating == 1}">
                            <p>&#11088;</p>
                        </th:block>
                        <th:block th:if="${review.rating == 2}">
                            <p>&#11088;&#11088;</p>
                        </th:block>
                        <th:block th:if="${review.rating == 3}">
                            <p>&#11088;&#11088;&#11088;</p>
                        </th:block>
                        <th:block th:if="${review.rating == 4}">
                            <p>&#11088;&#11088;&#11088;&#11088;</p>
                        </th:block>
                        <th:block th:if="${review.rating == 5}">
                            <p>&#11088;&#11088;&#11088;&#11088;&#11088;</p>
                        </th:block>
                        <p th:text="${review.description}"></p>
                    </div>
                </div>
            </div>
            <div class="active" id="tasks">
                <div class="row">
                    <th:block th:each="post : ${tasks}" >
                        <div class="col s12 m4 card">
                            <a th:href="'tasks/'+${post.id}">
                                <div class="card-content black-text tasks">
                                    <img class="taskPhoto" th:src="${post.user.getPhoto()}" alt=""/>
                                    <h6 th:text="${post.title}"></h6>
                                    <p><span th:each="map : ${hmap}" th:if="${map.key} == ${post.id}" th:text="${map.value}"></span></p>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
<footer th:include="fragments/footer">
</footer>
<th:block th:replace="fragments/scripts"/>

<script src="/js/profile.js"></script>
</body>
</html>