
<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="fragments/header :: header ('Silver Lining | Helper Profile')"/>

</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>
<div class="container">
    <div class="card">
        <div class="card-content profile-header">
            <img id="person" th:src="${user.photo}"/>
            <div >
                <h2 th:text="${user.username}"></h2>
                <h5 th:text="${user.email}"></h5>

                <th:block th:if="${userSesh.id == user.id}">
                    <a th:href="@{'/profile/' + ${user.id} + '/edit'}" class="btn btn-medium">Edit Profile</a>
                </th:block>
            </div>
        </div>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li style="font-size: 20px" class="tab teal darken-1"><a href="#tasks">Accepted Tasks</a></li>
                <li style="font-size: 20px" class="tab teal darken-1"><a href="#recent">Recent Review</a></li>
            </ul>
        </div>
            <div class="active" id="recent">
                <div class="card row" style="padding:15px" th:each="review : ${reviews}">
                    <div class="col s2 m2">
                        <img style="width: 50%;display:block;margin:auto;border-radius: 50%;" th:src="${review.reviewer.getPhoto()}" alt="" />
                        <p style="margin:auto;text-align:center;font-size: 20px" th:text="${review.reviewer.username}"></p>
                    </div>
                    <div style="border-left:1px solid grey" class="col s10 m10">
                        <th:block th:if="${review.rating == 1}">
                            <p>&#11088;</p>
                        </th:block>
                        <th:block th:if="${review.rating == 2}">
                            <p>&#11088;&#11088;</p>
                        </th:block>
                        <th:block th:if="${review.rating == 3}">
                            <p>&#11088;&#11088;&#11088;</p>
                        </th:block>
                        <th:block th:if="${review.rating == 4}">
                            <p>&#11088;&#11088;&#11088;&#11088;</p>
                        </th:block>
                        <th:block th:if="${review.rating == 5}">
                            <p>&#11088;&#11088;&#11088;&#11088;&#11088;</p>
                        </th:block>
                        <p style="font-size:20px" th:text="${review.description}"></p>
                    </div>
                </div>
            </div>
            <div class="active" id="tasks">
                <div class="row">
                    <th:block th:each="post : ${tasks}" >
                        <div class="col s12 m4 card">
                            <a th:href="'../tasks/'+${post.id}">
                                <div class="card-content black-text tasks">
                                    <img class="taskPhoto" th:src="${post.user.getPhoto()}" alt=""/>
                                    <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" th:text="${post.title}"></h5>
                                    <p style="font-size:20px;"><span th:each="map : ${hmap}" th:if="${map.key} == ${post.id}" th:text="${map.value}"></span></p>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
<footer th:include="fragments/footer">
</footer>
<th:block th:replace="fragments/scripts"/>

<script src="/js/profile.js"></script>
</body>
</html>