
<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header ('volunteerSignUp')"/>

</head>
<body>

<nav th:replace="fragments/navbar"></nav>
<h1>Welcome, </h1>

<div class="container">
    <div class="row">
        <div class="col s8 push-s4"><span class="flow-text"></span>
        </div>
        <div class="col s4 pull-s8"><span class="flow-text">5-columns wide pulled to the left by 7-columns.</span>
        </div>
    </div>


</div>












<footer th:replace="fragments/footer"></footer>
<th:block th:replace="fragments/scripts"/>
</body>
</html>