<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header('Review Helper')" />
</head>
<body>
<th:block th:replace="fragments/navbar" />

<div class="container">
    <form th:action="@{'/review'}" method="post" th:object="${review}">

        <div class="input-field">
            <label for="description">Do you have any comments to add?</label>
            <input id="description" name="description" type="text" />
        </div>

            <select id="rate" th:field="*{rating}">
                <option value="1">&#11088;</option>
                <option value="2">&#11088;&#11088;</option>
                <option value="3">&#11088;&#11088;&#11088;</option>
                <option value="4">&#11088;&#11088;&#11088;&#11088;</option>
                <option value="5">&#11088;&#11088;&#11088;&#11088;&#11088;</option>
            </select>
            <label for="rate">How would you rate <span th:text="${vol.username}"></span>?</label>


        <input type="hidden" name="volunteer" id="volunteer" th:value="${vol.id}" />
        <input type="hidden" name="senior" id="senior" th:value="${senior.id}"/>

        <button>Submit</button>
        <p th:text="${vol.username}"></p>
        <p th:text="${senior.username}" id="a"></p>
    </form>
</div>

<footer th:replace="fragments/footer"></footer>
<th:block th:replace="fragments/scripts"/>
<script>
    $(document).ready(function() {
        $('select').formSelect();
    });
</script>
</body>
</html>