<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header('reviewUser')" />
</head>
<body>
<nav th:replace="fragments/navbar"></nav>
<main class="container">
    <form th:action="@{/review}" th:method="post" th:object="${review}">
        <div class="input-field">
            <select id="rate" th:field="*{rating}">
                <option value="1">&#11088;</option>
                <option value="2">&#11088;&#11088;</option>
                <option value="3">&#11088;&#11088;&#11088;</option>
                <option value="4">&#11088;&#11088;&#11088;&#11088;</option>
                <option value="5">&#11088;&#11088;&#11088;&#11088;&#11088;</option>
            </select>
        <label for="rate">How would you rate <span th:text="${user.username}"></span>?</label>
        </div>
        <label for="description">Do you have any comments to add?</label>
        <input id="description" type="text" th:field="*{description}"/><br/>
        <input type="hidden" th:field="${user}" th:value="${user}">
        <input type="hidden" th:field="${reviewer}" th:value="${reviewer}">
        <button>Submit</button>
    </form>
</main>
<footer th:replace="fragments/footer"></footer>
<th:block th:replace="fragments/scripts"/>
<script>
    $(document).ready(function() {
        $('select').formSelect();
    });
</script>
</body>
</html>