<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragments/header :: header('reviewUser')" />
    <link rel="stylesheet" href="../../static/css/main.css"/>
</head>
<body>
<nav th:replace="fragments/navbar"></nav>



    <form th:action="@{/review}" th:method="post" th:object="${}">
        <label>How would you rate ${user}?</label>
        <select th:field="*{rating}">
        <option value="⭐">⭐</option>
        <option value="⭐⭐">⭐⭐</option>
        <option value="⭐⭐⭐">⭐⭐⭐</option>
        <option value="⭐⭐⭐⭐">⭐⭐⭐⭐</option>
        <option value="⭐⭐⭐⭐⭐">⭐⭐⭐⭐⭐</option>
        </select><br/>
        <label for="description">Do you have any comments to add?</label>
        <input id="description" type="text" th:field="*{description}"/><br/>

    </form>
</body>
</html>