
<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header('userSignUp')"/>
</head>
<body>

<nav th:replace="fragments/navbar"></nav>
<div class="container">
    <div class="col s12">
        <div class="row ">

            <h1>Create an Account</h1>
            <form th:action="@{/signup/senior}" method="post" th:object="${user}">
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <label for="username">Username</label>
                    <input id="username" th:field="*{username}" type="text" />
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <label for="email">Email</label>
                    <input id="email" th:field="*{email}" type="email" />
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <label for="password">Password</label>
                    <input id="password" th:field="*{password}" type="password" />
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">pin_drop</i>
                    <label for= "address">Address</label>
                    <input id="address" th:field="*{address}" type="text" />
                </div>
                <div class="input-field">
                    <div>
                        <i class="material-icons prefix">photo_camera</i>
                        <button type="button" id="picker">Upload Profile Photo</button>
                        <input type="hidden" id="fileupload" name="file" th:field="*{photo}" />
                    </div>
                    <div id="nameBox"></div>
                </div>

                <input type="submit" value="Sign Me Up " class="btn btn-large"/>
            </form>
        </div>
    </div>
</div>






<footer th:replace="fragments/footer"></footer>
<th:block th:replace="fragments/filestack" />
<th:block th:replace="fragments/scripts"/>

</body>
</html>