<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <th:block th:replace="fragments/header :: header('SignUp')"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>
<div class="container">
    <h2 class="center-align">SINGING UP FOR</h2>
    <div class="row ">
        <div class="col m6 12 center-align">
            <form th:action="@{/signup/senior}" method="get">

                <input type="submit" value="I am a senior!" class="btn btn-large"/>

            </form>
         </div>
         <div class="col m6 s12 center-align">
            <form th:action="@{/signup/helper}" method="get">

                <input type="submit" value="I am a Helper!" class="btn btn-large"/>
            </form>
        </div>
    </div>
</div>







<!--<footer th:replace="fragments/footer"></footer>-->
<th:block th:replace="fragments/scripts"/>

</body>
</html>