<!DOCTYPE html>
<html  lang="en"  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <th:block th:replace="fragments/header :: header('userSignUp')"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>
<div class="container">
    <div class="col s12">
        <div class="row ">

            <h1>Is you who?</h1>
            <form th:action="@{/signup/senior}" method="get">

                <input type="submit" value="I am a senior!" class="btn btn-large"/>

            </form>
            <form th:action="@{/signup/volunteer}" method="get">

                <input type="submit" value="I am a volunteer!" class="btn btn-large"/>
            </form>
        </div>
    </div>
</div>







<!--<footer th:replace="fragments/footer"></footer>-->
<th:block th:replace="fragments/scripts"/>

</body>
</html>