.hiddenForm{
    display: none;
}
.displayForm{
    display: block;
}

#person{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}
.signup{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
#login{
    background-color: #125E8A;
}
.signout{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right:16px;
    margin-left: 6px;
}



.card.medium{
    height: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*for styling map*/
#map {
    position:absolute;
    top: 66px;
    bottom:0;
    /*width:60%;*/
    right:0;
    margin:auto

}

/*styling home*/
.clearfix {
    *zoom:1; /* for IE */
    height: 600px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.float-my-children > * {
    float:right;
}
.float-my-children-2 > * {
    float: left;
}


