.hiddenForm{
    display: none;
}
.displayForm{
    display: block;
}

#person{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}
.signup{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
#login{
    background-color: #125E8A;
}
#post{
    background-color: #F0F0F0;
}
.signout{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right:16px;
    margin-left: 6px;
}



.card.medium{
    height: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*for styling map*/
#map {
    position:absolute;
    top: 66px;
    bottom:0;
    /*width:60%;*/
    right:0;
    margin:auto

}

.line{
    background-color: cadetblue;
    height: 20px;
}

/*styling home*/
.clearfix {
    *zoom:1; /* for IE */
    height: 600px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.float-my-children > * {
    float:right;
}
.float-my-children-2 > * {
    float: left;
}
.text1{
    margin-right: 75px;
    margin-top:250px;
}
.text2{
    margin-left: 75px;
    margin-top:250px;
}


.indicators{
    visibility: hidden;
}
.space{
    background-color: #006064;
}

.eachpic{
    width: 750px;
    min-height:auto;
}

.clearfix {
   /*// transform: translateY(-5px);*/
    line-height: 0;
}

.float-my-children-2{
    background-color: #93B7BE;
}

.content-main {
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
}

/*styling profile*/
.tabs .tab a {
    color: white;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: white;
}

/*styling footer*/

.footer-copyright{
    height: 30px;
}
.footer{
    margin-top: -30px;
}


/*styling for tasks*/
.tasks{
    height: 200px;
}

/*styling for map*/
.mapboxgl-ctrl-geocoder > input{
    padding: 0 40px 0 10px;
}


.deliveryForm{
    font-size: 20px;
}

/*styling navbar*/
.brand-logo{
    margin-left: 20px;
}


