<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <th:block th:replace="fragments/header :: header('About us!')"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

</head>
<body>
    <th:block th:replace="fragments/navbar"/>
    <h1 style="text-align:center">About Us!</h1>
    <div class="container">
        <div class="row">
            <div style="text-align: center" class="col s3">
                <img style="width:101%" src="https://cdn.filestackcontent.com/DYqc2SdmSAiwnkUQ6ZXw" alt=""/>
                <p class="aboutText">Susan Lin</p>
                <a href="https://github.com/susanlin0705"><i class="fa fa-github fa-2x"></i></a>
                <br/>
                <a href="https://www.linkedin.com/in/susanlin0705/"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://www.codeup.com"><i class="fa fa-codeup fa-2x"></i></a>
            </div>
            <div style="text-align: center" class="col s3">
                <img style="width:100%" src="https://cdn.filestackcontent.com/9sqimwCdRAjhX72RbL6g" alt=""/>
                <p class="aboutText">Aaron Sifuentes</p>
                <a href="https://github.com/aaronsifuentes47"><i class="fa fa-github fa-2x"></i></a>
                <br/>
                <a href="https://www.linkedin.com/in/aaronmsifuentes/"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://www.codeup.com"><i class="fa fa-codeup fa-2x"></i></a>
            </div>
            <div style="text-align: center" class="col s3">
                <img style="width: 100%" src="https://cdn.filestackcontent.com/ZjOYtNhOSg2j23R3SkYW" alt=""/>
                <p class="aboutText">Peter Hollman</p>
                <a href="https://github.com/PeterHollman"><i class="fa fa-github fa-2x"></i></a>
                <br/>
                <a href="https://www.linkedin.com/in/peter-hollman/"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://www.codeup.com"><i class="fa fa-codeup fa-2x"></i></a>
            </div>
            <div style="text-align: center" class="col s3">
                <img style="width: 100%" src="https://cdn.filestackcontent.com/VzlpWYfYTCqGFFZ3n9Uw" alt=""/>
                <p class="aboutText">Kyle Maulsby</p>
                <a href="https://github.com/KyleMaulsby"><i class="fa fa-github fa-2x"></i></a>
                <br/>
                <a href="https://www.linkedin.com/in/kylemaulsby/"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://www.codeup.com"><i class="fa fa-codeup fa-2x"></i></a>
            </div>
        </div>
    </div>
</body>
</html>