<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: header('home')"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>

<div class="carousel carousel-slider" data-indicators="true">
    <div>
        <a class="carousel-item" href="#one!"><img src="img/volunteer.jpg"/></a>

        <div class="carousel-fixed-item center">
            <h2 class="white-text">Heading for the Carousel</h2>
        </div>
    </div>

    <div>
        <a class="carousel-item white-text" href="#two!"><img src="img/holdinghand.jpg" /></a>

<!--            <h2>Second Panel</h2>-->
<!--            <p class="white-text">This is your second panel</p>-->
    </div>

    <div class="carousel-item green white-text" href="#three!">
        <img src="img/volunteer1.jpg" />
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <img src="img/holdinghand.jpg" />
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
</div>



<footer th:replace="fragments/footer"></footer>
<th:block th:replace="fragments/scripts"/>
<script type="text/javascript" src="js/home.js"></script>
</body>
</html>