<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/header :: header('home')"/>
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>

<div class="slider">
    <ul class="slides">
        <li>
            <img src="img/volunteer.jpg"/> <!-- random image -->
            <div class="caption left-align">
                <h3>Delivering goo spirit</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="img/holdinghand.jpg"/> <!-- random image -->
            <div class="caption left-align">
                <h3>Delivering Memories</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="img/volunteer1.jpg"/> <!-- random image -->
            <div class="caption left-align">
                <h3>Delivering Good Story</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="img/holdinghand.jpg"/> <!-- random image -->
            <div class="caption left-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>

















<footer th:replace="fragments/footer"></footer>
<th:block th:replace="fragments/scripts"/>
<script type="text/javascript" src="js/home.js"></script>
</body>
</html>