<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header ('map')"/>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
    </style>
</head>
<body>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />


<th:block th:replace="fragments/navbar :: navbar"/>
<div class="row ">
    <div class="col s3">
        <div class="row ">
            <div class="col s12">
                <div class="divider"></div>
                <div class="section">
                    <h5>Status</h5>
                    <p>Stuff</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h5>Pick Up Location</h5>
                    <p th:text="${post.location}"></p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h5>Deliver Address</h5>
                    <p th:text="${user.address}"></p>
                </div>
            </div>
            <div class="col s9" id='map'></div>
        </div>
    </div>

</div>





<!--<div id='map'></div>-->
















<script th:inline="javascript">

    mapboxgl.accessToken = 'pk.eyJ1IjoiZmFpeXRlZCIsImEiOiJjanhhdmhwbnkxMWM5M25ucnFka21xOXRzIn0.c_ImXwEydAQDNZH9nhk20A';

    const markers = {
        origin: [[${user.address}]],
        destination : [[${post.location}]],
        driverLocation:  [-98.491142,29.424349],
    };

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-98.491142,29.424349],
        zoom: 11
    });

    let directions = new MapboxDirections({
        accessToken: mapboxgl.accessToken
    })

    map.addControl(directions, 'top-left');


    var el = document.createElement('div');
    el.className = 'marker';

    new mapboxgl.Marker(el)
        .setLngLat(driverLocation)
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
            .setHTML(`<h3>Location</h3><p>Last updated</p>`))
        .addTo(map);



    directions.setOrigin(markers.origin);
    directions.setDestination(markers.destination);

</script>


</body>
</html>