<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header ('map')"/>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
    </style>
</head>
<body>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />


<th:block th:replace="fragments/navbar :: navbar"/>
<div class="row ">
    <div class="col s3">
        <div class="row ">
            <div class="col s12">
                <div class="divider"></div>
                <div class="section">
                    <h5>Status</h5>
                    <p>Stuff</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h5>Section 2</h5>
                    <p>Stuff</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h5>Deliver Address</h5>
                    <p th:text="${user.address}"></p>
                </div>
            </div>
            <div class="col s9" id='map'></div>
        </div>
    </div>

</div>





<!--<div id='map'></div>-->
















<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZmFpeXRlZCIsImEiOiJjanhhdmhwbnkxMWM5M25ucnFka21xOXRzIn0.c_ImXwEydAQDNZH9nhk20A';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-98.491142,29.424349],
        zoom: 11
    });

    let directions = new MapboxDirections({
        accessToken: mapboxgl.accessToken
    })

    map.addControl(directions, 'top-left');


</script>

<script th:inline="javascript">

    // let endPoint=document.querySelector('#mapbox-directions-destination-input input');
    // endPoint.value= [[${post.location}]]
    // let startPoint=document.querySelector('#mapbox-directions-origin-input input');
    // startPoint.value= [[${user.address}]]
    directions.setOrigin([[${user.address}]]);
    directions.setDestination([[${post.location}]]);


</script>



<!--<script src="../js/mapbox-geocoder-utils.js"></script>-->

<!--<script th:inline="javascript">-->
<!--    var mapboxToken="pk.eyJ1IjoiZmFpeXRlZCIsImEiOiJjanhhdmhwbnkxMWM5M25ucnFka21xOXRzIn0.c_ImXwEydAQDNZH9nhk20A";-->
<!--    function geocode(search, mapboxToken) {-->
<!--        var baseUrl = 'https://api.mapbox.com';-->
<!--        var endPoint = '/geocoding/v5/mapbox.places/';-->
<!--        return fetch(baseUrl + endPoint + encodeURIComponent(search) + '.json' + "?" + 'access_token=' + mapboxToken)-->
<!--            .then(function(res) {-->
<!--                return res.json();-->
<!--                // to get all the data from the request, comment out the following three lines...-->
<!--            }).then(function(data) {-->
<!--                return data.features[0].center;-->
<!--            });-->
<!--    }-->


<!--    var addressTest = [[${user.address}]];-->
<!--    var parsesAddress = geocode(addressTest, mapboxToken)-->
<!--    let centerArray1 = parsesAddress.then((data) => {-->
<!--        console.log( data[0])-->
<!--    });-->

<!--    let centerArray2 = parsesAddress.then((data) => {-->
<!--        console.log(data[1])-->
<!--    });-->

<!--    // console.log(centerArray1.then((data) => {console.log(data)}) + "" + centerArray2.then((data) => {console.log(data)}))-->


<!--    mapboxgl.accessToken = mapboxToken;-->
<!--    var map = new mapboxgl.Map({-->
<!--        container: 'map',-->
<!--        style: 'mapbox://styles/mapbox/streets-v11',-->
<!--        center: [-98.491142,29.424349],-->
<!--        zoom: 11-->
<!--    });-->
<!--    var address1= {-->
<!--        name:"Your Address",-->
<!--        address:[[${user.address}]],-->
<!--        popupHTML:"<p>Delivery Location: [[${user.address}]]</p>"-->
<!--    };-->
<!--    var address2={-->
<!--        name:"Pick Up Location",-->
<!--        address:[[${post.location}]],-->
<!--        popupHTML:"<p>Pickup Location: [[${post.location}]]</p>"-->
<!--    };-->

<!--    function placeMarkerAndPopup(info, mapboxToken, map) {-->
<!--        geocode(info.address, mapboxToken).then(function(coordinates) {-->

<!--            var popup = new mapboxgl.Popup({closeButton: true})-->
<!--                .setHTML(info.popupHTML)-->
<!--                .setLngLat(coordinates);-->
<!--            var marker = new mapboxgl.Marker()-->
<!--                .setLngLat(coordinates)-->
<!--                .addTo(map)-->
<!--                .setPopup(popup);-->
<!--            popup.addTo(map);-->
<!--        });-->
<!--    }-->
<!--    var arrayOfAddress = [address1,address2];-->
<!--    arrayOfAddress.forEach(function(names){-->
<!--        console.log(names);-->
<!--        placeMarkerAndPopup(names, mapboxToken, map);-->
<!--    });-->




<!--</script>-->
<script th:inline="javascript">
    /*<![CDATA[*/

    var address = /*[[${user.address}]]*/ 'default';


    /*]]>*/
</script>

</body>
</html>