<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.css' type='text/css' />
    <title>map</title>
    <style>
        #map {
            /* the width and height may be set to any size */
            width: 500px;
            margin: auto;
            height: 600px;
        }
    </style>
</head>

<body>
    <div id="map"></div>
    <!--mapbox使用-->
    <script src="js/mapbox-geocoder-utils.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src="js/keys.js"></script>
</body>
</html>