<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header('Post')" />
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar" />

<main>
    <h1>What do you need help with?</h1>
    <button type="button" name="delivery" id="delivery">I need something delivered</button>
    <button name="task" id="task" th:class="accomplished">I need something done at my house</button>
    <div class="deliveryForm hiddenForm">

    <form  th:action="@{/posts/create}" th:method="post" th:object="${}">
        On what day do you need delivered?:<input th:field="*{event_date}"/><br/>
        Where is the delivery from?<input th:field="*{event_location}"/><br/>
        What time do you need this delivery?<input th:field="*{}"/><br/>
        Is this a recurring delivery?
        Yes<input  name="recurringDelivery" id="recurringDelivery" type="checkbox"/><br/>
        <div id="isRecurring" class="hiddenForm">
            How often is this delivery needed?
        </div>
        What time is this delivery?<input th:field="*{}"/><br/>
        <button class="btn">Submit</button>
    </form>
    </div>
    <div class="taskForm hiddenForm">

    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        What task do you need accomplished?<input th:field="*{}"/><br/>
        How long will this task take to accomplish? <input th:field="*{}"/><br/>
        How many people are needed to complete this task? <input th:field="*{}"/><br/>
        Is this task at your place of residence? If no, check <input name="locationCheck" id="locationCheck" type="checkbox"/><br/>
        <div id="notAtLocation"class="hiddenForm">
        If not, where do you need help?<input th:field="*{}"/><br/>
        </div>
        What time do you need this help? <input th:field="*{}"/><br/>
        Are there any outside resources needed to accomplish this task? (tools, ladder, etc) <input th:field="*{}"/><br/>
        <button class="btn">Submit</button>
    </form>
    </div>
</main>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $("#delivery").on("click", function() {
            console.log("test");
            $(".deliveryForm").toggleClass("hiddenForm");
        });
    });
    $(document).ready(function() {
        $("#task").on("click", function() {
            $(".taskForm").toggleClass("hiddenForm");
        });
    });
    $(document).ready(function(){
        $("#locationCheck").on("click", function(){
            $("#notAtLocation").toggleClass("hiddenForm");
        });
    });
    $(document).ready(function(){
        $("#recurringDelivery").on("click", function(){
            $("#isRecurring").toggleClass("hiddenForm");
        });
    });
</script>
</body>
</html>